@use "config" as *;

body {
    font-size: 100%;
    font-family: "Kumbh Sans", sans-serif;
    width: 100vw;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 23.4rem;
    height: 100%;
}

nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
}

.burger-container {
    height: 1rem;
    width: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
    cursor: pointer;

    .burger {
        width: 1rem;
        height: 0.2rem;
        background-color: $text-primary;

        &::before {
            content: "";
            position: absolute;
            width: 1rem;
            height: 0.2rem;
            background-color: $text-primary;
            top: 0;
        }
        &::after {
            content: "";
            position: absolute;
            width: 1rem;
            height: 0.2rem;
            background-color: $text-primary;
            bottom: 0;
        }
    }
}

.navbar-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-right: 1.5rem;
}

.menu {
    background-color: $white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8;
    padding-top: 5rem;
    width: 70%;
    height: 100%;

    ul {
        background-color: $white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 3;
        list-style: none;

        a {
            color: $black;
            font-weight: 700;
            font-size: 1.3rem;
            padding-left: 1.5rem;
            text-decoration: none;
        }
    }
}

.navbar-cart {
    position: relative;
    cursor: pointer;

    .cart-content {
        width: 22rem;
        height: 14rem;
        background-color: white;
        position: absolute;
        top: 3.3rem;
        right: -3.5rem;
        border-radius: 10px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px grey;

        &__title {
            display: flex;
            align-items: center;
            font-weight: 700;
            height: 30%;
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid lightgray;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-weight: 700;
            height: 70%;
            width: 100%;
            padding: 1rem;
        }

        &__container {
            width: 100%;
            display: flex;
            align-items: space-between;
            justify-content: center;

            .cart-content__image img {
                width: 3rem;
                height: 3rem;
                margin: 0.5rem;
                border-radius: 5px;
            }
            .cart-items {
                width: 80%;
                display: flex;
                flex-direction: column;
                color: $text-primary;
                font-weight: 400;
                justify-content: center;
            }

            .cart-delete {
                width: 1.5rem;
                height: 1.5rem;
                background-image: url("../src/images/icon-delete.svg");
                background-position: center;
                background-repeat: no-repeat;
                align-self: center;
                cursor: pointer;
            }
        }
    }
}

.cart-items-pricing {
    display: flex;
    flex-direction: row;
}

.avatar {
    & img {
        width: 1.8rem;
        cursor: pointer;

        &:hover {
            border-radius: 100%;
            border: 2px solid $orange;
        }
    }
}

main {
    width: 100%;
}

.product-image {
    display: flex;
    justify-content: center;

    &__items {
display: none;
    }

    &__large {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 24rem;
            height: 16rem;
            object-fit: cover;
        }

        .control {
            width: 2.5rem;
            height: 2.5rem;
            background-color: white;
            border-radius: 50%;
            border: none;

            &-previous {
                background-image: url("../src/images/icon-previous.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30%;
                position: absolute;
                left: 1rem;
                z-index: 3;

                &:hover {
                    background-image: url("../src/images/icon-previous-hover.svg");
                }
            }
            &-next {
                background-image: url("../src/images/icon-next.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 30%;
                position: absolute;
                right: 1rem;
                z-index: 3;

                &:hover {
                    background-image: url("../src/images/icon-next-hover.svg");
                }
            }
        }
    }
}

.product-info {
    width: 100%;
    padding: 1rem;

    &__brand {
        color: $orange;
        font-weight: 700;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        margin-bottom: 0.6rem;
    }

    &__model {
        color: $text-header;
        font-weight: 700;
        font-size: 1.7rem;
        margin-bottom: 0.6rem;
    }

    &__description {
        color: $text-primary;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 0.6rem;
    }

    &__price {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            p {
                color: $text-header;
                font-size: 1.7rem;
                font-weight: 700;
            }

            &__rebate p {
                color: $orange;
                font-weight: 700;
                font-size: 1.1rem;
                width: 3.5rem;
                height: 2rem;
                border-radius: 10px;
                background-color: $pale-orange;
                text-align: center;
                padding: 0.3rem;
            }
            &__before {
                color: $grayish-blue;
                font-size: 1.1rem;
                font-weight: 700;
                text-decoration: line-through;
            }
        }
    }
}

.product-info__cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    &-amount {
        width: 90%;
        height: 2.5rem;
        display: flex;
        justify-content: space-between;
        background-color: $light-gray;
        border-radius: 10px;
    }

    .amount {
        align-self: center;
        font-weight: 700;
    }
}

.button__add {
    width: 2rem;
    height: 2rem;
    color: orange;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
    align-self: center;
}

.product-info__cart-add {
    img {
        margin-right: 0.8rem;
        height: 1.1rem;
    }
}

button {
    height: 3.5rem;
    width: 90%;
    border-radius: 10px;
    background-color: $orange;
    color: $white;
    border: none;
    font-size: 1rem;
    align-items: center;
    cursor: pointer;

    &:hover {
        border: $orange;
        opacity: 0.6;
        box-shadow: 0px 30px 80px -15px $orange;
    }
}

.hidden {
    display: none;
}

.closed {
    display: none;
}

.opened {
    display: block;
}

footer {
    position: fixed;
    bottom: 0.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@include media-md {
    body {
        height: 100vh;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {
        width: 100%;
        max-width: 66rem;
        height: 100%;
        max-height: 50rem;
    }

    nav {
        height: 7rem;
        border-bottom: 1px solid lightgray;
    }

    .navbar {
        height: 7rem;
    }

    .navbar-right {
        position: relative;
    }

    .navbar-cart {
        margin-right: 2rem;
    }

    .avatar {
        & img {
            width: 3.3rem;
            cursor: pointer;

            &:hover {
                border-radius: 100%;
                border: 2px solid $orange;
            }
        }
    }

    .control {
        //visible in mobile view
        display: none;
    }

    .menu {
        background-color: transparent;
        position: relative;
        left: auto;
        top: auto;
        height: 7rem;
        padding-top: 0rem;
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        ul {
            background-color: transparent;
            display: flex;
            flex-direction: row;
            z-index: auto;
            list-style: none;
            height: 100%;
            gap: 2rem;
            padding-left: 1.5rem;

            li {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 7rem;
           

            &:hover {
                border-bottom: 5px solid $orange;
            }
            }

            a {
                color: $text-primary;
                font-weight: 400;
                font-size: 1rem;
                padding-left:  0rem;
                text-decoration: none;
            }
        }
    }

    .burger-container {
        display: none;
    }
    main {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 80%;
    }

    .product-image {
        width: 45%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__large {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                height: 100%;
                border-radius: 20px;
                object-fit: contain;
            }
        }

        &__items {
            width: 80%;
            display: flex;
            flex-direction: row;

            ul {
                display: flex;
                flex-direction: row;    
                justify-content: space-between;
                

                li {
                    width: 20%;
                    gap: 0.2rem;
                    list-style: none;

                    img {
                        width: 100%;
                        border-radius: 10px;
   
                     
                        &:hover {
                            cursor: pointer;
                            filter:opacity(50%);
                             
                        }
                        &.active {
                            filter:opacity(50%);
                            border-radius: 10px;
                          
                        }
                    }
                }
            }
        }
    }

    .product-info {
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__brand {
            color: $orange;
            font-weight: 700;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            margin-bottom: 0.6rem;
        }

        &__model {
            color: $text-header;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3rem;
            margin-bottom: 1.7rem;
        }

        &__description {
            color: $text-primary;
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 1rem;
        }

        &__price {
            width: 50%;
            height: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .price {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;

                p {
                    color: $text-header;
                    font-size: 1.7rem;
                    font-weight: 700;
                }

                &__rebate p {
                    color: $orange;
                    font-weight: 700;
                    font-size: 1.1rem;
                    width: 3.5rem;
                    height: 2rem;
                    border-radius: 10px;
                    background-color: $pale-orange;
                    text-align: center;
                    padding: 0.3rem;
                }
                &__before {
                    color: $grayish-blue;
                    font-size: 1.1rem;
                    font-weight: 700;

                    text-decoration: line-through;
                }
            }
        }
    }

    .product-info__cart {
        margin-top: 2rem;
        flex-direction: row;

        &-amount {
            width: 40%;
        }
    }

    .cart-content {
        width: 22rem;
        height: 14rem;
        background-color: white;
        position: absolute;
        top: 8rem;
        right: 1em;
        border-radius: 10px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px lightgray;

        &__title {
            display: flex;
            align-items: center;
            font-weight: 700;
            height: 30%;
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid lightgray;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            font-weight: 700;
            height: 70%;
            width: 100%;
            padding: 1rem;
        }

        &__container {
            width: 100%;
            display: flex;
            align-items: space-between;
            justify-content: center;

            .cart-content__image img {
                width: 3rem;
                height: 3rem;
                margin: 0 0.5rem;
                border-radius: 5px;
            }

            .cart-items {
                width: 70%;
                display: flex;
                flex-direction: column;
                color: $text-primary;
                font-weight: 400;
                justify-content: flex-start;

                &-model {
                    margin-bottom: 0.3rem;
                }

                &-pricing {
                    gap: 0.3rem;
                }

                &-sum {
                    color: $text-header;
                    font-weight: 700;
                }
            }

            .cart-delete {
                width: 1.5rem;
                height: 1.5rem;
                background-image: url("../src/images/icon-delete.svg");
                background-position: center;
                background-repeat: no-repeat;
                align-self: center;
                cursor: pointer;
            }
        }
    }

    .popup {
        position: fixed;
        top: 0;
        z-index: 10;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        backdrop-filter: blut(10px);
        background-color: $overlay-bg;
        width: 100vw;
        height: 100vh;

        & img {
            height: 60%;
        }
    }

    .hidden {
        display: none;
    }

    .closed {
        display: block;
    }

    .opened {
        display: block;
    }
}
